.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    margin-left: 10px;
    margin-right: 10px;
    color: #68748a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

span{
    margin-left: 10px;
    margin-right: 10px;
    color: #68748a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

button{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: #07d16b;
    border-bottom-color: #07d16b;
    font-family: "Open Sans";
    color: #ffffff;
    /* order: 1; */
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px){
   span{
       display: none;
   } 

   button{
       order: 1;
   }

   a{
    display: none;
   }
}