.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    margin-right: 10px;
    color: #68748a;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
}

a{
    margin-left: 20px;
    color: #4086fa;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none; 
}

@media screen and (max-width: 480px){
    .author{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .links{
        display: flex;
        flex-direction: column;
    }

    a{
        margin-bottom: 10px;
    }

    .all{
        align-items: flex-start;
    }
}