<div class="charts">
  <div class="big-chart-head">
    <div class="cxm-index">
      <span class="cxm-index-text">CXM Index</span>
      <span class="cxm-index-number">85</span>
      <div class="difference">+12%</div>
    </div>
    <div class="head-selects">
      <select class="select-time">
        <option value="This week">This week</option>
      </select>
      <br>
      <select class="select-category">
        <option value="Select catecory">Select category</option>
      </select>
    </div>
  </div>
  <div class="b-chart">
    <img class="img-b-chart" src="../../assets/images/bigChart.png" alt="">
  </div>
  <div class="categories">
    <div class="cat1">
      <span class="categ">Categories</span>
      <span class="repl">654 replies</span>
    </div>
    <div class="cat-buttons">
      <select class="select-time">
        <option value="This week">This week</option>
      </select>
      <button mat-raised-button>+ Add category</button>
    </div>
  </div>
  <div class="main-bottom">
    <div class="information">
      <div class="cat-title">
        <div class="cat-title-name"><span>Name</span></div>
        <div class="cat-title-index"><span>Index</span></div>
        <div class="cat-title-var"><span>VAR</span></div>
      </div>
      <div class="cat-list">
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
          <div class="arr-r"><img src="../../assets/images/Shape_3_copy_3.svg" alt=""></div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
        <div class="cat-items"><span class="point1">Social Responsibility</span>
          <span class="point2">64</span>
          <div class="point3">-23%</div>
        </div>
      </div>
    </div>
    <div class="info-right">
      <div class="info-r-t">
        <div class="info-r-t-head">
          <span class="info-name">Strategy</span>
          <button class="edit">EDIT</button>
        </div>
        <div class="info-num">
          <div class="info-idx">
            <span class="span-idx">75</span>
            <div class="point3">-23%</div>
          </div>
          <div class="info-repl">
            <span>241 replies</span>
          </div>
        </div>
        <img class="small-chart" src="../../assets/images/smallChart.png" alt="">
        <div class="but">
          <button mat-raised-button class="bot-ans">Get answers for category</button>
        </div>
      </div>
      <div class="info-r-b">
        <div class="info-r-b-head">
          <span class="ques">Question</span>
          <button class="edit">EDIT</button>
        </div>
        <div class="q-text">
          In general, how do you you experience that branded colors aligns with your expectations?
        </div>
        <div class="delete">
          <button mat-raised-button color="warn" class="del-but">Delete category</button>
        </div>
      </div>
    </div>

  </div>
</div>